      <!-- News jumbotron -->
      <div class="jumbotron text-center hoverable p-4" *ngIf="product" style="margin-top: 50px">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-4 offset-md-1 mx-3 my-3">

            <!-- Featured image -->
            <div class="view overlay">
              <img src="{{product.image}}" class="img-fluid" alt="Sample image for first version of blog listing">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-7 text-md-left ml-3 mt-3">

            <!-- Excerpt -->
            <a href="#!" class="green-text">
              <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> {{product.category}}</h6>
            </a>

            <h4 class="h4 mb-4">{{product.name}}</h4>

            <p class="font-weight-normal">{{product.description}}</p>
            <p class="font-weight-normal"><a><strong>Ingredients</strong></a>: {{product.ingredients.join(", ")}}</p>
            <p class="font-weight-normal"><a><strong>Weight</strong></a>: {{product.weight}}gr</p>
            <p class="font-weight-normal"><a><strong>Price</strong></a>: {{product.price.toFixed(2)}}$</p>
            <p class="font-weight-normal"><a><strong>Likes</strong></a>: {{product.likes.length}} <i
                class="fas fa-heart pink-text pr-3" aria-hidden="true"></i></p>

            <button class="btn btn-primary" *ngIf="!product.likes.includes(authService.getUsername())"
              (click)="onLikeButtonClick()"><i class="far fa-heart"></i></button>
            <button class="btn btn-primary" *ngIf="product.likes.includes(authService.getUsername())"
              (click)="onUnlikeButtonClick()"><i class="fas fa-heart"></i></button>
            <button class="btn btn-success" (click)="addToCart()">Add to cart</button>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- News jumbotron -->
