<div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="{{imageUrl}}{{product.image}}" alt="Card image cap">
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><a>{{product.name}}</a></h4>
      <!-- Text -->
      <p class="card-text">{{product.description}}</p>
    </div>
  
    <div class="card-footer">
        <small class="text-muted">{{product.price}}$</small>
        <button type="button" class="btn btn-primary float-right btn-sm custom-button" *ngIf="!authService.isAdmin()" routerLink="/product/details/{{product.id}}">Details</button>
        <button type="button" class="btn btn-warning float-right btn-sm custom-button" *ngIf="!authService.isAdmin()" (click)="addToCart()" style="margin-right:6px">Order</button>
        <button class="btn btn-danger float-right btn-sm custom-button" *ngIf="authService.isAdmin()" (click)="openDeleteProductModal()"><i class="fa fa-trash"></i></button>
        <button class="btn btn-warning float-right btn-sm custom-button" *ngIf="authService.isAdmin()" routerLink="/admin/product/edit/{{product.id}}"><i class="fa fa-edit"></i></button>
    </div>

  </div>
  <!-- Card -->
